.img-fansibox{}

table.tablebeauty{
   margin: 10px -35px; 
}
table.tablebeauty th{
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    padding: 25px 40px;
    
    min-width: 125px;
    color: #282828;
}
table.tablebeauty th:first-child{
    padding-left: 35px;
}
table.tablebeauty th:last-child{
    padding-right: 35px;
}
table.tablebeauty td{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    padding: 25px 40px;
    min-width: 125px;
    
    color: #282828;
}
table.tablebeauty td:first-child{
    padding-left: 35px;
}
table.tablebeauty td:last-child{
    padding-right: 35px;
}
table.tablebeauty tbody tr:nth-child(2n-1){
    background: white;
}