body{
    background-color: #ececea;
}
.content h1,h2,h3{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
}
.content h1{
    font-size: 56px;
    color: #161215;
    text-transform: uppercase;
    margin: 37px 0;
}
.content h2{
    font-size: 30px;
    color: #161215;
    text-transform: uppercase;
    margin: 19px 0;
}
.content h3{
    font-size: 26px;
    color: #161215;
    margin: 28px 0;
}
.content h4{
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #161215;
    margin: 17px 0;
}
.content h5{
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: #161215;
    margin: 30px 0;
}
.content h6{
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: #161215;
    margin: 10px 0;
}

.content p{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #282828;
    margin-bottom: 25px;
    line-height: 20px;
}
.content a{
    color: #c80f29;
}
ul li, ol li{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #282828;
}
 ul li{
    margin-bottom: 25px;
    list-style-type: none;
}
ul li:before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #c80f29;
    vertical-align: middle;
    margin-right: 12px;
}
ol{
    list-style-type: none; 
    counter-reset: num;
}
ol li{
    margin-bottom: 25px;
    padding-left: 30px;
    position: relative;
}
ol li:before{
    position: absolute;
    left: 0;
    vertical-align: bottom;
    content: counter(num) '.';
    counter-increment: num;
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #282828;
}
.body-conteiner{
    max-width: 1845px;
    height: auto;
    margin: 0 auto;
    margin-top: 23px;
    background-color: white;
    position: relative;
    z-index: 0;
}
.map-columns{
    width: 100%;
}
.map-columns td{
    text-align: left !important;
}
.map-columns ul{
    padding-left: 20px;
}
.map-columns li{
    margin-bottom: 5px;
    margin-top: 5px;
}
.map-columns a{
    color: #282828;
}
.adress{
    display: none !important;
}

.elementdes-telo{
         font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #282828;
    margin-bottom: 25px;
    line-height: 20px;
}

/*< F A N C I B O X >*/
.fancybox-button--left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: auto;
    z-index: 99999;
    width: 50px;
}
.fancybox-button--right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: auto;
    z-index: 99999;
    width: 50px;
}
.fancybox-buttons{
    right: 50px;
}
.fancybox-button--left:after, .fancybox-button--right:after{
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
}
.fancybox-button--left:after{
    left: 15px;
}
.fancybox-button--right:after{
    right: 15px;
}
/*</ F A N C I B O X >*/

/*< H E A D E R >*/
.header{
    width: 100%;
    background-color: white;
    box-shadow: 0px 11px 51px 0px rgba(0, 0, 0, 0.22);
}
.header-top{
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 20px;
}
.width1240{
    width: 1250px;
    padding-left: 5px;
    padding-right: 5px;
}
@media(max-width:1270px){
    .width1240{
        width: 100%;
    }
}
.min-width1240{
    /*min-width: 1250px;*/
    min-width: 1024px;
}
.width685{
    width: 685px;
}
.width1015{
    width: 1015px;
}
.width600{
    width: 600px;
}
@media(max-width: 1100px){
    .width685{
        width: 640px;
    }
}
.header-logo{
    display: inline-block;
}
.header-logo h1{
    margin: 0;
}
.hover:after{
    content: '';
    height: 1px;
    width: 0%;
    display: block;
    background: #37353e;
    transition-duration: 0.5s;
}
.hover:hover:after{
    width: 100%;
}
.hover-white:after{
    content: '';
    height: 1px;
    width: 0%;
    display: block;
    background: white;
    transition-duration: 0.5s;
}
.hover-white:hover:after{
    width: 100%;
}
.hover-gray:after{
    background: #565656;
}

.position-bottom{
    position: absolute;
    bottom: 0;
}
.textpage{
    background-color: #f5f5f3;
    min-height: 496px;
    padding-bottom: 1px;
}
@media(max-width:1120px){
    .textpage{
        overflow: hidden;
    }
}

/*< C O N T A C T B L O C K >*/
.header-contactblock{
    display: inline-block;
    height: 70px;
    vertical-align: top;
    float: right;
    position: relative;
}
.contactblock-adressa{
    display: inline-block;
    padding-top: 7px;
    padding-left: 24px;
    background-image: url(img/map-dot.png);
    background-repeat: no-repeat;
    background-position-y: 6px;
    position: relative;
}
.contactblock-sity{
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    color: #161215;
    font-size: 16px;
    border-bottom: 1px dashed #161215;
    height: 21px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition-duration: 0.5s;
}
.contactblock-sity:after{
    content: '';
    display: inline-block;
    background-image: url(img/down.png);
    width: 10px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: -15px;
    transition-duration: 0.5s;
}
.contactblock-sity:hover{
    border-bottom: 0px;
}
.contactblock-sity:hover:after{
    top: 10px;
}
.contactblock-adres{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    display: inline-block;
    margin-top: 12px;
}
.contactblock-sities{
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    color: #161215;
    font-size: 16px;
    height: auto;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    background: white;
    left: 0;
    width: 170px;
    padding-left: 24px;
    list-style-type: none;
    display: none;
    z-index: 2;
    max-height: 220px;
    overflow: auto;
}
.contactblock-sities li{
    cursor: pointer;
    margin: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}
.contactblock-sities li:before{
    display: none;
}
.contactblock-sities li span{
    background-image: linear-gradient(to right, black 100%, transparent 0%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition-duration: 0.5s;
}
.contactblock-sities li:hover span{
    background-size: 100% 1px;
}
.contactblock-sities.active{
}
.contactblock-phone{
    display: inline-block;
    vertical-align: top;
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #37353e;
    text-decoration: none;
    transition-duration: 0.5s;
    margin-top: 6px;
    margin-left: 30px;
}
.contactblock-des{
    font: 300 14px 'Gotham Pro';
    display: block;
    margin-top: -16px;
}
.header-contactblock .fa-phone{
    position: relative;
    top: 6px;
    left: 20px;
    font-size: 21px;
    color: #c80f29;
}
.phone-icon{
    padding-left: 25px;
    background-image: url(img/phone.png);
    background-repeat: no-repeat;
    background-position-y: 3px;
}
.contactblock-phons{
    display: inline-block;
    vertical-align: top;
   /* float: right;*/
   position: absolute;
   right: 0;
   top: 0;
}
.contactblock-collback{
    display: block;
    width: 165px;
    height: 28px;
    background-color: #37353e;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 20px;
    transition-duration: 0.5s;
}
.contactblock-collback:hover{
    color: #37353e;
    background-color: white;
}
/*</ C O N T A C T B L O C K >*/


/*< T O P  M E N U >*/
.header-menu{
    height: 63px;
    width: 100%;
    background-color: #161215;
}
.header-menu ul{
    display: block;
    margin: 0 auto;
    height: 100%;
    background-color: #161215;
}
.header-menu ul li{
    display: inline-block;
    height: 100%;
    margin-right: 50px;
    vertical-align: top;
}
.header-menu ul li:before{
    display: none;
}
.header-menu ul li a{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    line-height: 60px;
    position: relative;
}
.header-menu ul li a:after{
    content: '';
    display: block;
    height: 6px;
    width: 0;
    background-color: #c80f29;
    position: absolute;
    bottom: 0;
    transition-duration: 0.5s;
}
.header-menu ul li a:hover:after,
.header-menu ul li a.active:after{
    width: 100%;
}
.header-menu > ul > li >ul{
    display: none;
}
.secondmenu{
    display: block;
    position: absolute;
    z-index: 10;
    max-height: 500px;
    background: #161215;
    border: 1px solid #f5f5f3;
}
.secondmenu li:before{
    display: none;
}
.secondmenu li > ul{
    display: none;
}
.secondmenu li{
    margin: 0;
    position: relative;
    z-index: 10;
}
.secondmenu a{
    width: 200px;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
}
.secondmenu a:after{
    content: '';
    display: block;
    height: 6px;
    width: 0;
    background-color: #c80f29;
    position: absolute;
    bottom: 0;
    transition-duration: 0.5s;
}
.secondmenu a:hover:after{
    width: 90%;
}
.secondmenu li:hover  ul{
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 100;
}

.secondmenu .mCSB_container{
    margin-right: 0;
    margin-left: 10px;
}
.secondmenu .mCSB_scrollTools{
    right: auto;
    left: -4px;
}
.secondmenu .mCSB_draggerRail{
    width: 5px;
    border-radius: 0;
    background: #f5f5f3;
}
.secondmenu .mCSB_dragger_bar{
    width: 6px !important;
    background-color: #c80f29 !important;
    border-radius: 0 !important;
}
.secondmenu .mCSB_dragger{
    height: 22px !important;
}

.header-searchbuttom{
    margin-right: 0 !important;
    float: right;
    width: 70px;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #7c7a7b;
    cursor: pointer;
}
.header-search{
    height: 63px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    transform: translate3d(0,-31.5px,-31.5px) rotateX(-90deg);
    -webkit-transform: translate3d(0,-31.5px,-31.5px) rotateX(-90deg);
    -moz-transform: translate3d(0,-31.5px,-31.5px) rotateX(-90deg);
}
.header-search form{
    margin: 0 auto;
    height: 100%;
}
.search-text{
    border: none;
    outline: none;
    height: 100%;
    width: 800px;
    font-size: 16px;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
}
.search-submit{
    display: inline-block;
    width: 165px;
    height: 28px;
    background-color: #C70F29;
    border: 1px solid #C70F29;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    float: right;
    margin-top: 15px;
    transition-duration: 0.5s;
    outline: none;
    margin-right: -70px;
}
.search-submit:hover{
    background-color: white;
    color: #C70F29;
}
.header-3dslider-1urov{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 500px;
    perspective: 500px;
    -webkit-perspective: 5000px;
    height: 63px;
    overflow: hidden;
}
.header-3dslider-2urov{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform-origin: 0px 31.5px -31.5px;
    -webkit-transform-origin: 0px 31.5px -31.5px;
    -moz-transform-origin: 0px 31.5px -31.5px;
    height: 63px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}
/*</ T O P  M E N U >*/

/*</ H E A D E R >*/


/*< S L I D E R >*/
.slider{
    width: 100%;
    height: 727px;
    background-color: #f5f5f3;
}
.slider-block{
    width: 100%;
    height: 100%;
    background-image: url(img/slider-fon.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: auto 100%;
    background-color: #f5f5f3;
}
.slider-content{
    position: relative;
    margin: 0 auto;
    height: 100%;
}
.slider-header{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    color: #010101;
    font-size: 50px;
    text-transform: uppercase;
    position: absolute;
    top: 144px;
    left: 178px;
}
.slider-description{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    color: #010101;
    font-size: 28px;
    width: 490px;
    height: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 240px;
    left: 178px;
}
.slider-more{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: white;
    display: block;
    width: 265px;
    height: 70px;
    background-color: #c80f29;
    text-decoration: none;
    border: 1px solid #c80f29;
    border-radius: 35px;
    text-align: center;
    line-height: 64px;
    position: absolute;
    left: 178px;
    top: 430px;
    transition-duration: 0.5s;
}
.slider-more:hover{
    background-color: white;
    color: #c80f29;
}
.slider-discount{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    color: white;
    width: 115px;
    height: 115px;
    border-radius: 60px;
    background-color: #c80f29;
    display: block;
    text-align: center;
    line-height: 110px;
    position: absolute;
    left: 58%;
    /*top: 345px;*/
    top: 105px;
}
.slider-discount:after{
    content: '';
    display: block;
    width: 0;
	height: 0;
    border-left: 38px solid transparent;
    border-bottom: 30px solid #c80f29;
    position: absolute;
        top: 85px;
    right: -5px;
    transform: rotate(115deg);
     -ms-transform: rotate(115deg);
     -moz-transform: rotate(115deg);
}
.slider-img{
    position: absolute;
    width: 43%;
    height: 87%;
    right: 8%;
    top: 4%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.slider .slick-prev{
    position: absolute;
    z-index: 1;
    color: transparent;
    width: 46px;
    height: 93px;
    background-image: url(img/prev.png);
    top: 246px;
    right: 50%;
    margin-right: 580px;
    opacity: 0.7;
    transition-duration: 0.5s;
}
.slider .slick-prev:hover{
    opacity: 1;
}
.slider .slick-next{
    position: absolute;
    z-index: 1;
    color: transparent;
    width: 46px;
    height: 93px;
    background-image: url(img/next.png);
    top: 246px;
    right: 18%;
    left: 50%;
    margin-left: 580px;
    opacity: 0.7;
    transition-duration: 0.5s;
}
.slider .slick-next:hover{
    opacity: 1;
}
@media(max-width:1275px){
    .slider .slick-prev{
        right: auto;
        left: 0;
    }
    .slider .slick-next{
        left: auto;
        right: 0;
    }
}
.slider .slick-dots{
    position: absolute;
    bottom: 162px;
    left: 50%;
    margin-left: -445px;
}
.slider .slick-dots li{
    display: inline-block;
    width: 32px;
    height: 6px;
    background-color: #dbdad7;
    margin-right: 10px;
    transition-duration: 0.5s;
}
.slider .slick-dots li:before{
    display: none;
}
.slider .slick-dots li:hover{
    background-color: black;
    opacity: 0.5;
}
.slider .slick-dots li button{
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: transparent;
}
.slider .slick-dots li.slick-active{
    background-color: black;
    opacity: 1;
}
.down-mouse{
    background-image: url(img/down-mouse.png);
    display: block;
    width: 21px;
    height: 56px;
    margin: 0 auto;
    position: relative;
    top: -105px;
    margin-bottom: -75px;
    cursor: pointer;
    opacity: 0.8;
    transition-duration: 0.5s;
    
}
.down-mouse:hover{
    opacity: 1;
}
/*</ S L I D E R >*/


/*< E Q U E P M E N T >*/
.equipment{
    width: 100%;
    height: 570px;
    background-color: #37353e;
    margin-bottom: -19px;
}
.equipment-content{
    width: 1070px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
@media(max-width:1090px){
    .equipment-content{
        width: 100%;
    }
}
.equipment-header{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 56px;
    color: white;
    padding-top: 118px;
    margin-left: 40px;
    text-align: left;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.equipment-element{
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #f5f5f3;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 305px;
    position: relative;
    overflow: hidden;
    margin-right: -4px;
    transition-duration: 0.5s;
}
.equipment-element:hover{
    background-color: #c80f29;
}
.equipment-element img{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 90px;
    left: 0;
    right: 0;
    transition-duration: 0.5s;
}
.equipment-element:hover img{
    bottom: 30px;
}
.equipment-element span{
    width: 200px;
    height: 305px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    position: relative;
    top: 68px;
    transition-duration: 0.5s;
}
.equipment-element:hover span{
    top: 98px;
}
.equipment-element:after{
    content: '';
    display: block;
    width: 1px;
    height: 150px;
    background-color: #3f3d46;
    position: absolute;
    top: 35px;
    right: 0;
}
.equipment-element:hover:after{
    display: none;
}
.equipment-element:last-child:after{
    display: none;
}
.equipment-yet{
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #f5f5f3;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 305px;
    position: relative;
    overflow: hidden;
    margin-right: -4px;
    transition-duration: 0.5s;
}
.equipment-yet:hover{
    background-color: #c80f29;
}
.equipment-yet img{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 90px;
    left: 0;
    right: 0;
    transition-duration: 0.5s;
}
.equipment-yet:hover img{
    bottom: 30px;
}
.equipment-yet span{
    width: 200px;
    height: 305px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    position: relative;
    top: 68px;
    transition-duration: 0.5s;
}
.equipment-yet:hover span{
    top: 98px;
}
/*</ E Q U E P M E N T >*/


/*< M A T E R I A L S >*/
.materials{
    width: 100%;
    background-color: #f5f5f3;
    padding-bottom: 90px;
}
.materials-content{
    width: 1070px;
    margin: 0 auto;
    text-align: center;
}
@media(max-width:1090px){
    .materials{
        overflow: hidden;
    }
    .materials-content{
        margin-left: -10px;
    }
}
.materials-header{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 56px;
    text-transform: uppercase;
    color: #2b2b2b;
    margin-left: 40px;
    text-align: left;
    padding-top: 116px;
    padding-bottom: 42px;
}
.materials-element:nth-child(2){
    display: inline-block;
    vertical-align: top;
    width: 340px;
    height: 272px;
    margin-right: 9px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    position: relative;
    background-position: 0px -272px;
    transition-duration: 0.5s;
    transition-delay: 0s;
}
.materials-element:nth-child(3){
    display: inline-block;
    vertical-align: top;
    width: 340px;
    height: 272px;
    margin-right: 9px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    position: relative;
    background-position: 0px -272px;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}
.materials-element:nth-child(4){
    display: inline-block;
    vertical-align: top;
    width: 340px;
    height: 272px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    position: relative;
    background-position: 0px -272px;
    transition-duration: 0.5s;
    transition-delay: 0.4s;
}
.materials-element:nth-child(5){
    display: inline-block;
    vertical-align: top;
    width: 517px;
    height: 272px;
    margin-right: 9px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    position: relative;
    background-position: 0px -272px;
    transition-duration: 0.5s;
    transition-delay: 0.6s;
}
.materials-element:nth-child(6){
    display: inline-block;
    vertical-align: top;
    width: 517px;
    height: 272px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    position: relative;
    background-position: 0px -272px;
    transition-duration: 0.5s;
    transition-delay: 0.8s;
}
.materials-element-active{
    background-position: center 0px !important;
}
.materials-name{
    text-align: left;
    display: table-cell;
    width: 316px;
    height: 110px;
    vertical-align: middle;
    padding-left: 30px;
}
.materials-element span{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #fefefe;
    background-image: linear-gradient(to right, #fefefe 100%, transparent 0%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition-duration: 0.5s;
}
.materials-element-activemouse:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: transparent;
    transition-duration: 0.5s;
}
.materials-element-activemouse:hover:after{
    box-shadow: 0 0 40px #9e9d9d;
    opacity: 1;
}
.materials-element:hover span{
    background-size: 100% 1px;
}
.materials-see{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #37353e;
    text-decoration: none;
    display: block;
    width: 98%;
    height: 80px;
    margin: 0 auto;
    background-color: white;
    line-height: 78px;
    transition-duration: 0.5s;
}
.materials-see:hover{
    box-shadow: 0 0 40px #9e9d9d;
    background: #37353e;
    color: white;
}
/*</ M A T E R I A L S >*/


/*< A B O U T >*/
.about{
    width: 100%;
    height: 380px;
    background-color: #37353e;
    padding-top: 123px;
    padding-bottom: 70px;
}
.about-content{
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}
@media(max-width:1090px){
    .about-content{
        width: 100%;
    }
}
.about-header{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 56px;
    color: white;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
    line-height: 42px;
    text-transform: uppercase;
}
.about-text{
    display: inline-block;
    width: 680px;
    height: 190px;
    vertical-align: top;
    float: right;
    position: relative;
}
.about-text p{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: white;
    line-height: 28px;
    height: 112px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.about-more{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #37353e;
    background-color: #f2f2ef;
    text-decoration: none;
    width: 165px;
    height: 30px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 28px;
    border-radius: 15px;
    border: 1px solid #f2f2ef;
    transition-duration: 0.5s;
}
.about-more:hover{
    color: #f2f2ef;
    background-color: #37353e;
}
/*</ A B O U T >*/

/*< A D V A N T A G E S >*/
.advantages{
    width: 100%;
    height: 345px;
    text-align: center;
    background-color: #37353e;
}
.advantages-content{
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}
.advantages-element{
    display: inline-block;
    width: 100px;
    height: 200px;
    margin: 0 80px;
    vertical-align: top;
    position: relative;
}
@media(max-width:1090px){
    .advantages-content{
        width: 100%;
    }
    .advantages-element{
        margin: 0 75px;
    }
}
.advantages-img{
    position: absolute;
    bottom: 78px;
    left: 0;
    right: 0;
    margin: auto;
}
.advantages-name-bottom{
    height: 50px;
    width: 235px;
    position: absolute;
    left: -67px;
    top: 145px;
}
.advantages-name{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    width: 235px;
}
/*</ A D V A N T A G E S >*/


/*< C A R D A D V A N T A G E S >*/
.cardadvantages{
    width: 100%;
    height: 490px;
    position: relative;
    overflow: hidden;
}
.cardadvantages:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 125px;
    bottom: 0;
    background: white;
    z-index: -2;
}
.cardadvantages:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 125px;
    top: 0;
    background: #37353e;
    z-index: -2;
}
.cardadvantages-content{
    height: 100%;
    margin: 0 auto;
}
@media(max-width:1220px){
    .cardadvantages-content{
        width: 1205px;
        position: absolute;
        left: 50%;
        margin-left: -602px;
    }
}
.cardadvantages-element:before{
    content: '';
    display: block;
    width: 845px;
    height: 643px;
    background-image: url(img/ten.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: -110px;
    top: -165px;
    transition-duration: 0.5s;
}
.cardadvantages-element:nth-child(1){
    display: inline-block;
    width: 595px;
    height: 250px;
    vertical-align: top;
    float: left;
    background-color: #f2f2ef;
    position: relative;
    padding-left: 100px;
    transition-duration: 0.5s;
}
.cardadvantages-element:nth-child(2){
    display: inline-block;
    width: 595px;
    height: 250px;
    vertical-align: top;
    float: right;
    background-color: #f2f2ef;
    position: relative;
    padding-left: 100px;
    transition-duration: 0.5s;
}
.cardadvantages-content a:nth-child(1){
    float: left;
}
.cardadvantages-content a:nth-child(2){
    float: right;
}
.cardadvantages-content a:hover .cardadvantages-name{
    color: #c80f29;
}

.cardadvantages-text{
    display: inline-block;
    width: 345px;
    padding-top: 70px;
    padding-left: 15px;
    vertical-align: top;
    height: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cardadvantages-imgblock{
    display: inline-block;
    height: 100%;
    width: 100px;
    vertical-align: top;
    position: relative;
}
.cardadvantages-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.cardadvantages-name{
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    color: #6c687a;
    text-transform: uppercase;
    display: block;
    margin-bottom: 34px;
    letter-spacing: -1px;
    transition-duration: 0.5s;
}
.cardadvantages-description{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #6c687a;
    line-height: 30px;
}
/*</ C A R D A D V A N T A G E S >*/

/*< P A R T N E R S >*/
.partners{
    width: 100%;
    height: 635px;
    background: transparent;
    position: relative;
    top: -140px;
    padding-top: 40px;
    margin-bottom: -140px;
}
.partners-content{
    height: 100%;
    margin: 0 auto;
}
@media(max-width:1220px){
    .partners{
        overflow: hidden;
    }
    .partners-content{
        width: 1205px;
        position: absolute;
        left: 50%;
        margin-left: -602px;
    }
}
.partners-block:nth-child(1){
    display: inline-block;
    vertical-align: top;
    width: 472px;
    margin-left: 123px;
    height: 100%;
    float: left;
}
.partners-block:nth-child(2){
    display: inline-block;
    vertical-align: top;
    width: 495px;
    margin-right: 100px;
    height: 100%;
    float: right;
}
.partners-header{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 56px;
    color: #333030;
    text-transform: uppercase;
}
.partners-slider{
    width: 460px;
    height: 320px;
    padding-top: 95px;
}
.partners-element{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 150px;
    height: 90px;
    margin-bottom: 10px;
}
.partners-element img:nth-child(1){
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition-duration: 0.5s;
}
.partners-element img:nth-child(2){
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition-duration: 0.5s;
}
.partners .slick-prev{
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 60px;
    height: 60px;
    background: #f7f7f7;
    background-image: url(img/partprev.png);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    transition-duration: 0.5s;
}
.partners .slick-next{
    position: absolute;
    bottom: -35px;
    left: 60px;
    width: 60px;
    height: 60px;
    background: #f7f7f7;
    background-image: url(img/partnext.png);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    transition-duration: 0.5s;
}
.partners .slick-prev:hover, 
.partners .slick-next:hover{
    background-color: #dcdbdb;
}
.partners-element-hover:hover img:nth-child(1){
    /*opacity: 0;*/
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.partners-element-hover:hover img:nth-child(2){
    opacity: 1;
}
.partners-imgheader{
    text-align: center;
    margin-top: -25px;
}
.partners-cooperate{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #333030;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 60px;
}
.partners-text{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #333030;
    margin-left: 50px;
    margin-top: 65px;
    line-height: 28px;
    height: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.partners-start{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
    width: 440px;
    height: 68px;
    background-color: #c80f29;
    border-radius: 35px;
    border: 1px solid #c80f29;
    text-align: center;
    line-height: 65px;
    margin: 0 auto;
    margin-top: 25px;
    transition-duration: 0.5s;
}
.partners-start:hover{
   color: #c80f29;
   background: white;
}
.partners-link{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #333030;
    margin-top: 45px;
    display: inline-block;
    transition-duration: 0.5s;
}
.partners-link:hover{
    text-decoration: none;
    color: #c80f29;
}
/*</ P A R T N E R S >*/

/*< M A P >*/
.map{
    width: 100%;
    height: 620px;
    position: relative;
}
#map{
    height: 100%;
    width: 100%;
    position: absolute;
}
.map-contactblock{
    position: absolute;
    width: 495px;
    height: 485px;
    background-color: white;
    top: 70px;
    right: 50%;
    margin-right: 60px;
    box-shadow: 0px 24px 46px 0px rgba(0, 0, 0, 0.22);
}
.map-header{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 56px;
    text-transform: uppercase;
    color: black;
    margin-top: 94px;
    margin-left: 75px;
}
.contactblock-adressa-map{
    margin-left: 60px;
    margin-top: 40px;
}
.contactblock-adressa-map .contactblock-sity{
    font-size: 18px;
    color: #333030;
    border-bottom: 1px dashed #333030;
}
.contactblock-adressa-map .contactblock-sity:hover{
    border-bottom: none;
}
.contactblock-adressa-map li{
    color: #333030;
}
.contactblock-adressa-map li span{
    background-image: linear-gradient(to right, black 100%, transparent 0%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition-duration: 0.5s;
}
.contactblock-adressa-map li:hover span{
    background-size: 100% 1px;
}
.contactblock-adressa-map .contactblock-adres{
    font-size: 18px;
    color: #333030;
    margin-top: 48px;
}
.contactblock-adressa-map .contactblock-phone{
    font-size: 18px;
    color: #333030;
    margin-left: 0;
    margin-top: 26px;
    font-weight: normal;
}
/*</ M A P >*/


/*< F O O T E R >*/
.footer{
    width: 100%;
    height: 300px;
    background-color: #302f30;
}
.footer-content{
    width: 1015px;
    margin: 0 auto;
    height: 100%;
    padding: 60px 0;
    position: relative;
}
.footer-menu{
    width: 530px;
    height: auto;
    display: inline-block;
    float: left;
    vertical-align: top;
}
.footer-menu li{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: white;
    display: inline-block;
    width: 170px;
    margin-bottom: 25px;
    vertical-align: top;
}
.footer-menu li:before{
    display: none;
}
.footer-menu li a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
}
.footer-feedback{
    width: 300px;
    display: inline-block;
    height: auto;
    float: right;
    vertical-align: top;
    text-align: right;
}
.footer-phone{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-order{
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: white;
    transition-duration: 0.5s;
}
.footer-order:hover{
    text-decoration: none;
}
.footer-copyrite{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}
.footer-copyritetext{
    display: inline-block;
    width: 400px;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    vertical-align: bottom;
}
.footer-social{
    display: inline-block;
    width: 370px;
    height: auto;
    vertical-align: bottom;
    text-align: center;
}
.footer-socialtext{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 15px;
}
.footer-icon{
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin: 0px 7px;
    transition-duration: 0.5s;
}
.footer-icon:hover{
    color: #949294;
}
.axi{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
#vverh{
    width: 58px;
    height: 58px;
    position: fixed;
    right: 80px;
    bottom: 175px;
    cursor: pointer;
    transition-duration: 0.5s;
    display: none;
    border-radius: 30px;
    background-color: #f5f5f3;
}
#vverh:before{
    content: '';
    display: block;
    height: 4px;
    width: 25px;
    background-color: #b0031b;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    position: absolute;
    top: 25px;
    left: 9px;
}
#vverh:after{
    content: '';
    display: block;
    height: 4px;
    width: 25px;
    background-color: #b0031b;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    position: absolute;
    top: 25px;
    right: 9px;
}
#vverh:hover{
    background-color: #b0031b;
}
#vverh:hover:before,
#vverh:hover:after{
    background-color: #f5f5f3;
}
@media (max-width: 1520px){
    #vverh{
        right:5px;
    }
}
#call-back{
    background: #a10316;
    position: fixed;
    right: 185px;
    bottom: 162px;
    transition-duration: 0.5s;
    width: 94px;
    height: 94px;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    z-index: 10;
    opacity: 0.8;
}
#call-back:hover{
    opacity: 1;
}
#call-back:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a10316;
    -moz-animation: makecall_scale 1s infinite alternate;
    -webkit-animation: makecall_scale 1s infinite alternate;
    animation: makecall_scale 1s infinite alternate;
    border-radius: 50px;
}
#call-back > i{
    background-image: url(/local/templates/main/img/call-back.png);
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.5s;
    position: absolute;
    display: block;
    width: 58px;
    height: 64px;
    border-radius: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -moz-animation: makecall_phone 4s ease infinite;
    -webkit-animation: makecall_phone 4s ease infinite;
    animation: makecall_phone 4s ease infinite;
    z-index: 2;
}
@-moz-keyframes makecall_scale {
  0% {
    -moz-transform: scale(1);
    transform: scale(1); }
  100% {
    -moz-transform: scale(1.1);
    transform: scale(1.1); } }
@-webkit-keyframes makecall_scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes makecall_scale {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
@-moz-keyframes makecall_phone {
  0%, 85% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  88.75%, 96.25% {
    -moz-transform: rotate(30deg);
    transform: rotate(30deg); }
  92.5% {
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg); } }
@-webkit-keyframes makecall_phone {
  0%, 85% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  88.75%, 96.25% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  92.5% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); } }
@keyframes makecall_phone {
  0%, 85% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  88.75%, 96.25% {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  92.5% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); } }
@media(max-height: 700px){
    #call-back{
        bottom: 50px;
        right: 10px;
    }
}
@media(max-width: 1400px){
    #call-back{
        bottom: 50px;
        right: 10px;
    }
}
/*</ F O O T E R >*/


/*< C O N T E N T >*/

.content{
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: 1000px;
}
.content-header{
    font-size: 46px !important;
    margin-top: -5px !important;
    margin-bottom: 40px !important;
    position: relative;
    z-index: 1;
}

/*< B R E A D C R U M B S >*/
.breadcrumbs a,
.breadcrumbs li{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
}
.breadcrumbs li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 28px;
    position: relative;
    color: #a0a0a0;
}
.breadcrumbs li:before{
    display: none;
}
.breadcrumbs li:nth-child(1){
    padding-left: 0;
}
.breadcrumbs li:after{
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: #9d9d9b;
    position: absolute;
    top: 0;
    right: 0;
}
.breadcrumbs li:last-child:after{
    display: none;
}
.breadcrumbs a{
    color: #565656;
}
.breadcrumbs{
    padding-top: 46px;
    padding-bottom: 37px;
    position: relative;
    z-index: 1;
}
/*</ B R E A D C R U M B S >*/

/*< C E L L >*/
.cell{
    width: auto;
    height: 305px;
    margin-left: -45px;
    margin-right: -45px;
    margin-bottom: 40px;
    background: white;
    box-shadow: 0px 8px 46px 0px rgba(122, 122, 121, 0.16);
}
.cell-image{
    width: 298px;
    height: 100%;
    border-right: 4px solid #f5f5f3;
    display: inline-block;
    vertical-align: top;
}
.cell-image a,
.cell-image span{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.cell-image a img,
.cell-image span img{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cell-image a:hover img{
    transform: scale(1.1);
}
.cell-telo{
    display: inline-block;
    width: 800px;
    height: 100%;
    vertical-align: top;
    position: relative;
}
.cell-header h2{
    display: initial;
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    text-transform: inherit;
    margin: 0;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: linear-gradient(to right, #c80f29 100%, transparent 0%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 3px;
    transition-duration: 0.5s;
    color: #0e0e0e;
}
.cell-header:hover h2{
    background-size: 100% 3px;
}
.cell-header-noline:hover h2{
    background-size: 0% 3px;
}
.cell-header{
    position: absolute;
    left: 70px;
    top: 60px;
    width: 595px;
    text-decoration: none;
}
.cell-text{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    color: #282828;
    left: 70px;
    top: 135px;
    width: 650px;
    max-height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cell-text p{
    margin-bottom: 10px;
}
.cell-date{
    position: absolute;
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: #b0b0b0;
    bottom: 60px;
    left: 70px;
}
.cell-date-bold{
    color: black;
    font-weight: bold;
}
.cell-more{
    display: block;
    width: 165px;
    height: 25px;
    border: 1px solid #37353e;
    background: #37353e;
    border-radius: 15px;
    text-align: center;
    color: white !important;
    text-decoration: none;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    bottom: 50px;
    right: 80px;
    transition-duration: 0.5s;
}
.cell-more:hover{
    background: white;
    color: #37353e !important;
}
.cell-search .cell-telo{
    width: 100%;
}
.cell-search .cell-header{
    width: auto;
    max-width: 950px;
}
.cell-search .cell-text{
    width: 950px;
}
/*</ C E L L >*/

/*< P A G I N A T O R >*/
.paginator{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 35px;
}
.paginator li{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    vertical-align: top;
    transition-duration: 0.5s;
}
.paginator li a{
    transition-duration: 0.5s;
}
.paginator li a:hover{
    background: #c80f29;
}
.paginator li.active{
    color: white;
    background: #c80f29;
}
.paginator li:before{
    display: none;
}
.paginator a{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #161215;
    display: block;
    width: 100%;
    height: 100%;
}
.paginator li i{
    font-size: 17px;
}
/*</ P A G I N A T O R >*/

/*< L A N D I N G >*/
.landing{
    width: auto;
    margin-left: -40px;
    margin-right: -40px;
    height: auto;
    background: white;
    box-shadow: 0px 8px 46px 0px rgba(122, 122, 121, 0.16);
    margin-bottom: 50px;
    padding: 0 40px;
    padding-top: 70px;
    padding-bottom: 80px;
}
.landing-head{
}
.landing-img{
    display: inline-block;
    width: 440px;
    height: 370px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
.landing-img:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*background: rgba(0,0,0,0.05);*/
}
.landing-img img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.landing-header{
    display: inline-block;
    vertical-align: top;
    width: 570px;
    min-height: 370px;
    padding-left: 80px;
    padding-right: 60px;
}
.landing-date{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: #b0b0b0;
}
.landing-name{
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    color: #0e0e0e !important;
    font-size: 22px !important;
    text-transform: inherit !important;
    margin-top: 55px !important;
    margin-bottom: 45px !important;
}
.landing-description{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #282828;
    line-height: 32px;
}
.landing-line{
    margin-top: 35px;
    margin-bottom: 32px;
    border: none;
    height: 1px;
    background: #e4e4e4;
}
.landing-telo p{
    margin-bottom: 20px;
}
.landing-telo{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #282828;
    line-height: 30px;
}
.landing-prev{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: white !important;
    display: block;
    width: 165px;
    height: 28px;
    background: #37353e;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid black;
    line-height: 25px;
    transition-duration: 0.5s;
    margin-top: 55px;
    cursor: pointer;
}
.landing-prev:hover{
    background: white;
    color: #37353e !important;
}
/*</ L A N D I N G >*/

/*< C A T A L O G >*/
.catalog{
    width: 1346px;
    height: auto;
    position: relative;
    left: -326px;
}
.catalog-list{
    display: inline-block;
    vertical-align: top;
    width: 326px;
    height: auto;
    margin-right: -4px;
}
.catalog-elements{
    display: inline-block;
    vertical-align: top;
    height: auto;
    width: 1015px;
}
@media(max-width: 1686px){
    .catalog{
        left:-165.5px;
    }
}
@media(max-width: 1365px){
    .catalog{
        left: 0;
        width: 100%;
    }
    .catalog-elements{
        width: 688px;
    }
} 
.catalog-list li:before{
    display: none;
}
.catalog-list a.active, .catalog-list li:hover > a{
    color: white;
    background-color: #37353e;
}
.catalog-list a{
    font-family: 'Gotham Pro';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #161215;
    width: 326px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 45px;
}
.catalog-list li{
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
}
.catalog-list  li ul{
    overflow: hidden;
    transition-delay: 0.1s;
    height: 0;
}
.catalog-list  > ul > li  span .arrow{
    position: absolute;
    display: block;
    height: 45px;
    width: 50px;
    right: 0;
    top: 0;
    text-align: center;
    padding: 14px 0;
    color: #aba9a9;
    cursor: pointer;
}
.catalog-list  > ul > li > span .arrow:hover{
   background: #3e3c45;
}
.catalog-list  > ul > li > span .arrow:hover i{
    -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.activshow > a{
    background-color: #37353e;
    color: white;
}
.activshow > ul{
    height: 100% !important;
}
.activshow > span .arrow{
    -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.activshow > span .arrow:hover{
      -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.catalog-list li span{
    overflow: hidden;
    display: block;
    height: 45px;
    width: 65px;
    position: absolute;
    right: 0;
    top: 0;
}
.catalog-list li li > a {
    font-weight: 400;
    padding-left: 65px;
}
.catalog-list li li > a:hover,
.catalog-list li li > a.active{
    background-color: #9d9c9e;
}
.catalog-list li li li:hover > a{
    font-weight: 600;
    color: #161215;
    background: transparent;
}
.catalog-list li li li:hover .arrow{
     -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.catalog-list > ul > li:hover,
.catalog-list > ul > li > ul > li:hover,
.catalog-list > ul > li > ul > li > ul > li:hover,
.catalog-list > ul:hover,
.catalog-list > ul > li > ul:hover,
.catalog-list > ul > li > ul > li > ul:hover{
    overflow: inherit;
}
.catalog-list li li li ul{
    position: absolute;
    left: 100%;
    top: 0;
    width: 326px;
    height: auto;
    box-shadow: 25px 8px 46px 0px rgba(122, 122, 121, 0.16);
    z-index: 2;
    background-color: #f5f5f3;
}
.catalog-list li li li ul li:hover > a{
    color: white;
    background-color: #37353e;
}

/*<catalog-element>*/
.catalog-element{
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 455px;
    background-color: white;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
.catalog-img{
    height: 250px;
    width: 100%;
    position: relative;
    transition-duration: 0.5s;
}
.catalog-img img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.catalog-elementname{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #161215;
    padding: 0 65px;
    line-height: 22px;
    width: 320px;
    height: 65px;
    display: table-cell;
    vertical-align: bottom;
}
.catalog-elementname a{
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(to right, #161215 100%, transparent 0%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition-duration: 0.5s;
}
.catalog-elementname span{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
}
.catalog-elementname a:hover{
    background-size: 100% 1px;
}
.catalog-elementblock{
    width: 100%;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.catalog-elementdescription{
    font-family: 'Gotham Pro';
    /*font-weight: 300;*/
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: #161215;
    /*opacity: 0.51;*/
    display: block;
    padding: 0 65px;
    margin-top: 35px;
}
.catalog-elementprise{
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: #161215;
    display: block;
    padding: 0 65px;
    padding-right: 0px;
    margin-top: 35px;
    transition-duration: 0.5s;
    margin-bottom: 40px;
}
.catalog-elementprise span{
    font-family: 'Gotham Pro';
    font-style: normal;
}
.catalog-elementprise-prom{
    font-family: 'Gotham Pro';
    font-style: normal;
    text-decoration: line-through;
    font-weight: normal;
}
.catalog-elementprise-normal{
    font-family: 'Gotham Pro';
    font-style: normal;
}
.catalog-more{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    color: white;
    display: block;
    width: 100%;
    height: 60px;
    background-color: #37353e;
    text-align: center;
    text-decoration: none;
    line-height: 57px;
    overflow: hidden;
    transition-duration: 0.5s;
}
.catalog-element:hover .catalog-img{
    height: 170px;
}
.catalog-element:hover .catalog-more{
    background-color: #c80f29;
}
.catalog-element:hover .catalog-elementprise{
    margin-bottom: 60px;
}
.catalog-prom{
    display: block;
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 40px;
    z-index: 1;
    background-color: #c80f29;
    text-align: center;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: white;
    padding: 18px 0;
    right: 18px;
    top: 15px;
}
.catalog-prom-fontsize{
    font-size: 18px;
}
/*</catalog-element>*/
/*</ C A T A L O G >*/

/*< C A T A L O G  E L E M E N T >*/
.elementslidermain{
    display: inline-block;
    width: 595px;
    height: 400px;
    background: white;
    position: relative;
    left: -40px;
    margin-right: -40px;
    vertical-align: top;
}
.elementslider{
    display: inline-block;
    width: 595px;
    height: 400px;
    background: white;
    position: relative;
}
.elementslider-img{
    height: 400px;
    width: 595px;
    position: relative;
}
.elementslider img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.elementslider .slick-next{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    color: transparent;
    background: #f7f7f7;
    background-image: url(img/partnext.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: 25px;
    right: 30px;
    z-index: 1;
    transition-duration: 0.5s;
}
.elementslider .slick-prev{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    color: transparent;
    background: #f7f7f7;
    background-image: url(img/partprev.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: 25px;
    right: 80px;
    z-index: 1;
    transition-duration: 0.5s;
}
.elementslider .slick-next:hover,
.elementslider .slick-prev:hover{
    background-color: #dcdbdb;
}
.elementslider-plus{
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-image: url(img/pl.png);
    bottom: 30px;
    left: 40px;
}
.elementslider-prom{
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #c80f29;
    border-radius: 40px;
    top: 30px;
    left: 40px;
    color: white;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}
.elementslider-prom span{
    font-size: 18px;
}

.elemenparam{
    display: inline-block;
    width: 445px;
    height: 435px;
    vertical-align: top;
    padding-top: 70px;
}
.elemenparam-prise{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #5b5b5b;
    text-decoration: line-through;
    margin-left: 85px;
    display: block;
}
.elemenparam-prise i{
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url(img/prise.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 30px;
}
.elemenparam-prom{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #090909;
    margin-left: 85px;
    display: block;
    margin-top: 25px;
}
.elemenparam-prom i{
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url(img/prom.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 30px;
}
.elemenparam-prom-mod i{
    background-image: url(img/prise.png);
}
.elemenparam-prom .bold{
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 34px;
}
.elemenparam-act{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #161215;
    margin-left: 85px;
    display: block;
    margin-top: 25px;
}
.elemenparam-act i{
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url(img/act.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 30px;
}

.elemenparam-buy{
    display: block;
    width: 318px;
    height: 54px;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: white !important;
    text-decoration: none;
    background: #c80f29;
    text-align: center;
    border-radius: 27px;
    line-height: 54px;
    margin-left: 85px;
    margin-top: 95px;
    border: 1px solid #c80f29;
    transition-duration: 0.5s;
}
.elemenparam-buy:hover{
    background: white;
    color: #c80f29 !important;
}

.elementdes{
    width: auto;
    height: auto;
    margin: 0 -40px;
    background: white;
    margin-bottom: 35px;
}
.elementdes-telo{
    padding: 100px 40px;
}
.elementdes-header li:before{
    display: none;
}
.elementdes-header ul{
    display: table;
    width: 100%;
}
.elementdes-header li{
    display: table-cell;
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    height: 90px;
    margin: 0;
    vertical-align: middle;
    color: #c0c0c0;
    padding: 0 50px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    position: relative;
    transition-duration: 0.5s;
}
.elementdes-header li:last-child{
    border-right: none;
}
.elementdes-header li:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 6px;
    background: #c80f29;
    transition-duration: 0.5s;
}
.elementdes-header li.active{
    cursor: initial;
}
.elementdes-header li:hover:after,
.elementdes-header li.active:after{
    width: 100%;
}
.elementdes-header li:hover,
.elementdes-header li.active{
    color: #626262;
}
.elementdes-des{
    display: inline-block;
    width: 22px;
    height: 26px;
    vertical-align: middle;
    background-image: url(img/des.png);
    background-repeat: no-repeat;
    margin-right: 30px;
}
.elementdes-teh{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-image: url(img/teh.png);
    background-repeat: no-repeat;
    margin-right: 30px;
}
.elementdes-vid{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-image: url(img/vid.png);
    background-repeat: no-repeat;
    margin-right: 30px;
}
.elementdes-telo > div{
    display: none;
    opacity: 0;
}
.elementdes-telo > div:first-child{
    display: block;
    opacity: 1;
}

.elementopdos{
    width: auto;
    margin: 0 -40px;
    height: 475px;
    background: white;
    margin-bottom: 55px;
}
.elementopdos-block{
    display: inline-block;
    width: 545px;
    height: 100%;
    vertical-align: top;
}
.elementopdos-head{
    height: 210px;
    width: 545px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.elementopdos-head img{
    max-width: 75px;
    max-height: 75px;
}
.elementopdos-telo{
    height: 264px;
    width: 545px;
    padding: 0 35px;
    padding-bottom: 80px;
}
.elementopdos-content{
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #37353e;
}
.elementopdos-content p{
    color:#37353e;
}
.elementopdos-content b{
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
}
.elementopdos-content .mCSB_container{
    margin-right: 0;
    margin-left: 38px;
}
.elementopdos-content .mCSB_scrollTools{
    right: auto;
    left: 0;
}
.elementopdos-content .mCSB_draggerRail{
    width: 5px;
    border-radius: 0;
    background: #f5f5f3;
}
.elementopdos-content .mCSB_dragger_bar{
    width: 6px !important;
    background-color: #c80f29 !important;
    border-radius: 0 !important;
}
.elementopdos-content .mCSB_dragger{
    height: 22px !important;
}
/*</ C A T A L O G  E L E M E N T >*/

/*< M A P  C O N T A C T S >*/
.map-contacts{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    top: 179px;
    height: 740px;
}
.map-contacts .map-contactblock{
    margin-right: 130px;
    width: 415px;
    /*height: 215px;*/
    height: 280px;
    top: 200px;
}
.map-contacts .contactblock-adressa-map{
    margin-top: 50px;
    margin-left: 90px;
}
.map-contacts .contactblock-adres{
    margin-top: 34px;
}
/*</ M A P  C O N T A C T S >*/

/*< R E Q U I S I T E S >*/
.requisites{
    width: auto;
    margin: 0 -40px;
    min-height: 450px;
    margin-top: 480px;
    position: relative;
    z-index: 1;
    background: white;
    box-shadow: 0px 3px 29px 0px rgba(0, 0, 0, 0.11);
    margin-bottom: 120px;
    padding: 0 40px;
}
.requisites-text{
    display: table-cell;
    width: 455px;
    height: 450px;
    vertical-align: middle;
}
.requisites-text p{
    color: #333030;
    font-size: 16px;
    line-height: 22px;
}
.requisites-text:last-child{
    width: 560px;
    padding-left: 260px;
}
.requisites-text:last-child p{
    margin-bottom: 18px;
}
.requisites-callback{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: white !important;
    text-decoration: none;
    display: block;
    width: 300px;
    height: 50px;
    background-color: #c80f29;
    border-radius: 35px;
    border: 1px solid #c80f29;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 25px;
    transition-duration: 0.5s;
}
.requisites-callback:hover{
    color: #c80f29 !important;
    background-color: white;
}
/*</ R E Q U I S I T E S >*/

/*< S L I D E R  P A R T N E R S >*/
.sliderpartners{
    width: auto;
    margin: 0 -35px;
    height: 375px;
}
.sliderpartners-slide{
    width: 100%;
    height: 100%;
}
.sliderpartners-element{
    display: inline-block;
    width: 250px;
    height: 115px;
    margin-right: 10px;
    margin-bottom: 15px;
    background: white;
    box-shadow: 0px 8px 8px 0px rgba(122, 122, 121, 0.16);
    position: relative;
    vertical-align: top;
    transition-duration: 0.5s;
}
.sliderpartners-element:nth-child(4n+1){
    margin-left: 20px;
}
.sliderpartners-element:nth-child(4n){
    margin-right: 0;
}
.sliderpartners-element img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition-duration: 0.5s;
}
.sliderpartners-element:hover{
    box-shadow: 0px 8px 8px 0px rgba(122, 122, 121, 0.36);
}
.sliderpartners .slick-next{
    position: absolute;
    color: transparent;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fefefe;
    background-image: url(img/partnext.png);
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.5s;
    bottom: 40px;
    left: 50%;
    z-index: 1;
}
.sliderpartners .slick-prev{
    position: absolute;
    color: transparent;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fefefe;
    background-image: url(img/partprev.png);
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.5s; 
    bottom: 40px;
    right: 50%;
    z-index: 1;
}
.sliderpartners .slick-next:hover,
.sliderpartners .slick-prev:hover{
    background-color: #dcdbdb;
}  
.sliderobertka{
    margin-bottom: 525px;
}  
@media (max-width: 1330px){
    .sliderobertka{
        overflow: hidden;
    }
}
/*</ S L I D E R  P A R T N E R S >*/

/*< C O O P E R A T I O N >*/
.cooperation{
    position: absolute;
    left: 0;
    right: 0;
    height: 585px;
    background: white;
    top: 765px;
}
.cooperation-form{
    height: 100%;
    margin: 0 auto;
}
.cooperation-header{
    padding-top: 85px;
    height: 175px;
}
.cooperation-header h2{
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #333030;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}
.cooperation-header span{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #333030;
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 295px;
    line-height: 30px;
    margin-top: -10px;
}
.cooperation-telo input[type="text"]{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #333030;
    display: inline-block;
    vertical-align: top;
    width: 290px;
    height: 45px;
    border: 1px solid #d7d7d7;
    outline: none;
    text-align: center;
    margin-right: 68px;
    margin-bottom: 35px;
}
.cooperation-telo input.cooperation-lastblock{
    margin-right: 0;
}
.cooperation-telo textarea{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #333030;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 120px;
    resize: none; 
    outline: none;
    border: 1px solid #d7d7d7;
    padding-top: 25px;
    padding-left: 125px;
}
.cooperation-telo input[type="submit"]{
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    width: 365px;
    height: 70px;
    background: #c80f29;
    outline: none;
    border: 1px solid #c80f29;
    border-radius: 35px;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: white;
    transition-duration: 0.5s;
}
.cooperation-telo input[type="submit"]:hover{
    background: white;
    color: #c80f29;
}
.cooperation-telo .errortext{
    color: red;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
.cooperation-telo .mf-ok-text{
    color: #333030;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 46px;
    text-align: center;
    margin-top: 95px;
}
/*</ C O O P E R A T I O N >*/

/*</ C O N T E N T >*/

/*< C A L L B A C K >*/
.callback .fancybox-content{
    max-width: 670px;
    max-height: 555px;
    min-width: 670px;
    min-height: 555px;
    width: 100% !important;
    height: 100% !important;
}
.fancybox-container-height720 .callback .fancybox-content{
    max-height: 750px;
    min-height: 750px;
}
@-moz-document url-prefix(){
    .fancybox-container-height720 .callback .fancybox-content{
        max-height: 780px;
        min-height: 780px;
    }
}
.callback .fancybox-iframe{
    background: #eeeeee;
}
.callback-close{
    display: none;
}
@media(max-width:780px){
    .callback .fancybox-slide:before{
    display: none;
}
}

/*</ C A L L B A C K >*/