.callback-body{
    width: auto;
    height: 100%;
    position: relative;
    padding: 0 130px;
}
.callback-close-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    color: transparent;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}
@-moz-document url-prefix(){
    .callback-close-btn{
        top: -24px;
    }
}
.callback-close-btn:before{
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: #848484;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition-duration: 0.5s;
}
.callback-close-btn:after{
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: #848484;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transition-duration: 0.5s;
}
.callback-close-btn:hover:before,
.callback-close-btn:hover:after{
    background: black;
}
.callback-body h2{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    color: #626262;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 50px;
}
.callback-body span{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #282828;
    line-height: 25px;
    margin-bottom: 38px;
    display: block;
}
.callback-body .callback-span-marginbot10{
    margin-bottom: 10px;
}
.callback-body input[type="text"]{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: white;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #282828;
    padding-left: 40px;
    margin-bottom: 10px;
    line-height: 48px;
}
.callback-body input[type="submit"],
.callback-ok{
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: white;
    background: #c80f29;
    border: none;
    width: 295px;
    height: 55px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    outline: none;
    border: 1px solid #c80f29;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 30px;
}
.callback-body input[type="submit"]:hover,
.callback-ok:hover{
    background: white;
    color: #c80f29;
}
.callback-body .errortext{
    color: red;
    font-family: 'Gotham Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;   
}
.callback-body .mf-ok-text{
    color: #000000;
    font-family: 'Gotham Pro';
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 140px;
    text-align: center;
    margin-top: 140px;
}
.adress{
    display: none;
}
.callback-body textarea{
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #282828;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 120px;
    resize: none;
    outline: none;
    border: 1px solid #d7d7d7;
    padding-top: 25px;
    padding-left: 40px;
}
.center{
    text-align: center;
    margin-bottom: 25px !important;
    margin-top: -30px;
}